@import "tailwindcss";

:root {
  --background: #080C16;
  --foreground: #ffffff;
  --primary: #7056F0;
  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-grotesk), sans-serif;
}

@keyframes vibrate-ring {
  0% {
    transform: translateY(0);
  }

  2% {
    transform: translateY(-2px);
  }

  4% {
    transform: translateY(2px);
  }

  6% {
    transform: translateY(-2px);
  }

  8% {
    transform: translateY(2px);
  }

  10% {
    transform: translateY(-2px);
  }

  12% {
    transform: translateY(2px);
  }

  14% {
    transform: translateY(-2px);
  }

  16% {
    transform: translateY(2px);
  }

  18% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-vibrate-ring {
  animation: vibrate-ring 2.5s infinite;
}